asgiref==3.5.2
certifi==2022.6.15
Django==4.1
django-ninja==0.19.1
pip==22.1.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pydantic==1.9.2
setuptools==61.2.0
sqlparse==0.4.2
typing_extensions==4.3.0
wheel==0.37.1
